<div class="container">
	<div class="bg-dark">
	<!-- 	<div class="row" style="display: flex;align-items:center;">

			<div class="col-2" style="display: flex;justify-content: center;">
				<p class="text-light bg-dark" style="margin: 0px;">- JavaScript</p>
			</div>

			<div class="col-2">
				<p class="text-light bg-dark" style="margin: 0px;text-align: center;">Avanzado</p>
			</div>			

			<div class="col-2">
				<div class="progress">
				  <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuemin="0" aria-valuemax="100">
				  </div>
				</div>
			</div>		
		</div> -->


		<div class="row">
			<div class="col-6"></div>
			<div class="col-3 text-light">Nivel.:</div>
		</div>

		<div class="row align-items-center">
			<div class="col-1"></div>
			<div class="col-1"><img src="https://image.flaticon.com/icons/svg/136/136530.svg" alt="JavaScript" height="25vh"></div>
			<div class="col-1 text-light">JavaScript</div>
			<div class="col-3 text-light">Front-End</div>
			<div class="col-3"></div>
		</div>

		<div class="row align-items-center">
			<div class="col-1"></div>
			<div class="col-1"><img src="https://image.flaticon.com/icons/svg/919/919827.svg" alt="HTML5" height="25vh"></div>
			<div class="col-1 text-light">HTML5</div>
			<div class="col-3 text-light">Front-End</div>
			<div class="col-3"></div>
		</div>

		<div class="row align-items-center">
			<div class="col-1"></div>
			<div class="col-1"><img src="https://image.flaticon.com/icons/svg/919/919826.svg" alt="JavaScript" height="25vh"></div>
			<div class="col-1 text-light">CSS3</div>
			<div class="col-3 text-light">Front-End</div>
			<div class="col-3"></div>
		</div>
		<hr class="bg-light">

		<div class="row align-items-center">
			<div class="col-1"></div>
			<div class="col-1"><img src="ico/bootstrap.svg" alt="Bootstrap" height="25vh"></div>
			<div class="col-1 text-light">Bootstrap</div>
			<div class="col-3 text-light">FrameWork</div>
			<div class="col-3"></div>
		</div>

		<div class="row align-items-center">
			<div class="col-1"></div>
			<div class="col-1"><img src="ico/express.svg" alt="Express" height="25vh"></div>
			<div class="col-1 text-light">Express</div>
			<div class="col-3 text-light">FrameWork</div>
			<div class="col-3"></div>
		</div>

		<div class="row align-items-center">
			<div class="col-1"></div>
			<div class="col-1"><img src="ico/angular.svg" alt="Angular" height="25vh"></div>
			<div class="col-1 text-light">Angular</div>
			<div class="col-3 text-light">FrameWork</div>
			<div class="col-3"></div>
		</div>
		<hr class="bg-light">

		<div class="row align-items-center">
			<div class="col-1"></div>
			<div class="col-1"><img src="https://www.vectorlogo.zone/logos/mongodb/mongodb-icon.svg" alt="MongoDB" height="30vh"></div>
			<div class="col-1 text-light">MongoDB</div>
			<div class="col-3 text-light">DB</div>
			<div class="col-3"></div>
		</div>

		<div class="row align-items-center">
			<div class="col-1"></div>
			<div class="col-1"><img src="ico/mysql.svg" alt="MySQL" height="25vh"></div>
			<div class="col-1 text-light">MySQL</div>
			<div class="col-3 text-light">DB</div>
			<div class="col-3"></div>
		</div>
		<hr class="bg-light">

		<div class="row">
			<div class="col-1"></div>
			<div class="col-5 text-light">Others</div>
			<div class="col-3 text-light">Nivel.:</div>
		</div>
		
		<div class="row align-items-center">
			<div class="col-1"></div>
			<div class="col-1"><img src="ico/handlebars.svg" alt="Handlebars" height="7vh"></div>
			<div class="col-1 text-light">Handlebars</div>
			<div class="col-3 text-light">Motor de plantillas</div>
			<div class="col-3"></div>
		</div>
		
		<div class="row align-items-center">
			<div class="col-1"></div>
			<div class="col-1"><img src="ico/jquery.svg" alt="jQuery" height="25vh"></div>
			<div class="col-1 text-light">jQuery</div>
			<div class="col-3 text-light">Libreria</div>
			<div class="col-3"></div>
		</div>
		
		<div class="row align-items-center">
			<div class="col-1"></div>
			<div class="col-1"><img src="ico/git.svg" alt="Git" height="25vh"></div>
			<div class="col-1 text-light">Git</div>
			<div class="col-3 text-light">Versionador</div>
			<div class="col-3"></div>
		</div>
		
		<div class="row align-items-center">
			<div class="col-1"></div>
			<div class="col-1"><img src="ico/node.svg" alt="NodeJS" height="25vh"></div>
			<div class="col-1 text-light">NodeJS</div>
			<div class="col-3 text-light">Back-End</div>
			<div class="col-3"></div>
		</div>
		
		<div class="row align-items-center">
			<div class="col-1"></div>
			<div class="col-1"><img src="https://upload.wikimedia.org/wikipedia/commons/3/3e/Manjaro-logo.svg" alt="Manjaro" height="25vh"></div>
			<div class="col-1 text-light">Manjaro</div>
			<div class="col-3 text-light">SO</div>
			<div class="col-3"></div>
		</div>
		
		<div class="row align-items-center">
			<div class="col-1"></div>
			<div class="col-1"><img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" alt="Python" height="25vh"></div>
			<div class="col-1 text-light">Python</div>
			<div class="col-3 text-light">Interpretado</div>
			<div class="col-3"></div>
		</div>
		
		<div class="row align-items-center">
			<div class="col-1"></div>
			<div class="col-1"><img src="https://upload.wikimedia.org/wikipedia/de/e/e1/Java-Logo.svg" alt="Java" height="50vh"></div>
			<div class="col-1 text-light">Java</div>
			<div class="col-3 text-light">POO</div>
			<div class="col-3"></div>
		</div>

	</div>
</div>