<div class="container col-12">
	<div class="navbar-dark bg-dark">
		<div class="row justify-content-end">
			<div class="col-4">
				<p class="navbar-brand">Ramiro Joaquin Croce</p>
			</div>
		</div>

		<div class="row">
			<div class="col-3"></div>
			<div class="col-2"><img src="https://image.flaticon.com/icons/svg/174/174879.svg" alt="Cel.:" height="25vh"></div>
			<div class="col-2 text-light">+54 9 11 6891 7687</div>
		</div>

		<div class="row">
			<div class="col-3"></div>
			<div class="col-2"><img src="https://image.flaticon.com/icons/svg/732/732200.svg" alt="gmail.:" height="25vh"></div>
			<div class="col-2 text-light">ramiro.j.croce@gmail.com</div>
		</div>

		<div class="row">
			<div class="col-3"></div>
			<div class="col-2"><img src="https://image.flaticon.com/icons/svg/174/174857.svg" alt="linkedin.:" height="25vh"></div>
			<div class="col-6"><a class="text-light" href="https://www.linkedin.com/in/ramiro-joaquin-croce/">https://www.linkedin.com/in/ramiro-joaquin-croce/</a></div>
		</div>

		<div class="row">
			<div class="col-3"></div>
			<div class="col-2"><img src="https://image.flaticon.com/icons/svg/1322/1322053.svg" alt="github.:" height="25vh"></div>
			<div class="col-6"><a class="text-light" href="https://github.com/RamiroJC94">https://github.com/RamiroJC94</a></div>
		</div>
		<br>
	</div>
</div>