		<div class="row">
			<div class="col-6" style="border: 2px solid yellow;display:flex;justify-content: center;">
				<p class="navbar-brand">col-6</p>
			</div>
			<div class="col-6" style="border: 2px solid yellow;display:flex;justify-content: center;">
				<p class="navbar-brand">col-6</p>
			</div>
		</div>

		<div class="row">
			<div class="col-4" style="border: 2px solid yellow;display:flex;justify-content: center;">
				<p class="navbar-brand">col-4</p>
			</div>
			<div class="col-4" style="border: 2px solid yellow;display:flex;justify-content: center;">
				<p class="navbar-brand">col-4</p>
			</div>
			<div class="col-4" style="border: 2px solid yellow;display:flex;justify-content: center;">
				<p class="navbar-brand">col-4</p>
			</div>
		</div>

		<div class="row">
			<div class="col-3" style="border: 2px solid yellow;display:flex;justify-content: center;">
				<p class="navbar-brand">col-3</p>
			</div>
			<div class="col-3" style="border: 2px solid yellow;display:flex;justify-content: center;">
				<p class="navbar-brand">col-3</p>
			</div>
			<div class="col-3" style="border: 2px solid yellow;display:flex;justify-content: center;">
				<p class="navbar-brand">col-3</p>
			</div>
			<div class="col-3" style="border: 2px solid yellow;display:flex;justify-content: center;">
				<p class="navbar-brand">col-3</p>
			</div>
		</div>

		<div class="row">
			<div class="col-2" style="border: 2px solid yellow;display:flex;justify-content: center;">
				<p class="navbar-brand">col-2</p>
			</div>
			<div class="col-2" style="border: 2px solid yellow;display:flex;justify-content: center;">
				<p class="navbar-brand">col-2</p>
			</div>
			<div class="col-2" style="border: 2px solid yellow;display:flex;justify-content: center;">
				<p class="navbar-brand">col-2</p>
			</div>
			<div class="col-2" style="border: 2px solid yellow;display:flex;justify-content: center;">
				<p class="navbar-brand">col-2</p>
			</div>
			<div class="col-2" style="border: 2px solid yellow;display:flex;justify-content: center;">
				<p class="navbar-brand">col-2</p>
			</div>
			<div class="col-2" style="border: 2px solid yellow;display:flex;justify-content: center;">
				<p class="navbar-brand">col-2</p>
			</div>
		</div>